services:
  kafka:
    image: apache/kafka:latest
    ports:
      - "9092:9092"
      - "9090:9090"
      - "9091:9091"
    environment:
      KAFKA_NODE_ID: 1
      CLUSTER_ID: DWfwefwefew
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9091
      KAFKA_LISTENERS: PLAINTEXT://:9090,CONTROLLER://:9091,EXTERNAL://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9090,EXTERNAL://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true

      # КРИТИЧЕСКИ ВАЖНЫЕ ПАРАМЕТРЫ ДЛЯ KRaft:
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

      # Используем временную директорию в памяти
      KAFKA_LOG_DIRS: /dev/shm/kafka-logs
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics.sh --bootstrap-server kafka:9092 --list || exit 0"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
  main-service:
    build:
      context: ./main-service
      dockerfile: Dockerfile
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: Orders
      DB_USER: postgres
      DB_PASSWORD: password
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
    ports:
      - 8080:8080
    volumes:
      - ./configs:/app/configs
    deploy:
      resources:
        limits:
          memory: 128M
          cpus: '0.5'
        reservations:
          memory: 64M
          cpus: '0.25'
  
  frontend:
    image: halverneus/static-file-server:latest
    volumes:
      - ./front:/web 
    ports:
      - "3000:8080"     # localhost:3000 -> контейнер:8080
    restart: unless-stopped
  producer-service:
    build:
      context: ./producer-service
      dockerfile: Dockerfile
    restart: "no"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: Orders
      DB_USER: postgres
      DB_PASSWORD: password
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
      main-service:
        condition: service_started
    volumes:
      - ./configs:/app/configs
    deploy:
      resources:
        limits:
          memory: 64M
          cpus: '0.3'
        reservations:
          memory: 32M
          cpus: '0.15'
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: Orders
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d Orders"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    depends_on:
      kafka:
        condition: service_started

volumes:
  postgres_data:
  kafka_data: